<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Auth</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to your CSS file -->

    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
<!-- </head>
<body>
    <div class="design1 form-box ">
    <div class="form-box flex-box">
        <form  method="post" action="/login"  class="form" >
            <span class="title">Login</span>
            <span class="subtitle">Login here.</span>
            <div class="form-container">
            
                    <input type="email" name="email" class="input" placeholder="Email">
                    <input type="password" class="input" placeholder="Password">
                    
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="form-section">
            <p>Navigate to main Page <a href="/logout">Log out</a></p>

        </div>
        </div>
    </div>
    
    
</body>
</html>  -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Auth</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="design1 form-box ">
    <div class="form-box flex-box">
        <form method="post" action="/login" class="form">
            <span class="title">Login</span>
            <span class="subtitle">Login here.</span>
            <div class="form-container">
                <input type="email" name="email" class="input" placeholder="Email">
                <input type="password" name="password" class="input" placeholder="Password">
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="form-section">
            <p>Navigate to main Page <a href="/logout">Log out</a></p>
        </div>
    </div>
    </div>
</body>
</html>
